body {
    background-image: url(../assets/darkworld.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Adjust the value to control the roundnees of the image */
}

@media (max-width: 768px) {
    .img-fluid {
       max-width: 80%;
       margin: 0 auto;
       display: block;
    }
}

.table-background-opacity {
    background-color: rgba(211, 177, 177, 0.5);
    width: 75%;
}

.custom-table th, .custom-table td {
    padding: 10px;
}

form {
    background-color: rgba(211, 177, 177, 0.5);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    max-width: 100%;
}

.custom-table {
    width: 50%;
    height: 200px;
    margin: 0 auto;
    
}

a {
    color: rgb(128, 24, 24)
}

.card-background-opacity {
    background-color: rgba(203, 147, 147, 0.5);
    width: 80%;
}

.card-title {
    color: rgb(1, 0, 0);
}

.card-text {
    color: rgb(1, 0, 0);
}

