#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: .25rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(63, 3, 3);
  color: white;
  font-family: Arial, sans-serif;
}

.nav-links {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: .5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}